body{
    background-color: #1a0b0c;
}

form{
    background-color: #0e0506;
}
.center{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: scale(1.5 ,1.5);
}

fieldset{
  display: inline-flex;
  flex-direction: column;
}


.flex-div{
    display: flex;
    justify-content: space-between;
}


.flex-div-main{
    display: inline-flex;
    flex-direction: column;
    /* align-items: stretch; */
    row-gap: 5px;
    justify-content: space-evenly;
}

fieldset{
    border: 1px dotted #ff3a32;
}


label{
    margin-right: 5px;
}

label, legend, input{
    color:#e2a528;
}

#error-div{
    margin-top: 10px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #ff3a32;
}

::placeholder {
  color: #e2a528;
  opacity: 0.9; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #e2a528;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
  border: none;
  background-color: #ff393200;
  border-bottom: 1px solid #ff3a32;
}

.error{
  color: #ff3a32;
}

input.error{
  border: none;
  border-bottom: 1px dashed #ff3a32;
}

#error-div{
  display: inline-flex;
  flex-direction: column;
}



#submit-button{
  background-color:#e2a528;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#submit-button:focus {
  outline: 0;
}

#submit-button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#submit-button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  #submit-button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}